*{
    margin: 0;
    padding: 0;
}
body{
	width: 100%;
	height: 100%;
    font-family: Arial;
}
.header-content{
    padding: 10px;
    height: 90px;
}
.logo img{
    width: 80px;
    height: 80px;
}
.box-search {
    padding: 20px 0px;
}

.card-header {
    float: left;
    margin-top: 2px;
    position: relative;
    padding-bottom: 10px;
    background: transparent;
    border: none;
    margin-left: 50px;
}

.user-login {
    float: left;
    margin-top: 28px;
    margin-left: 60px;
    position: relative;
    padding-bottom: 10px;
}

a.nav-link.cart-item-count {
    color: #7e7e7e;
    font-size: 25px;
}

a.dropdown-toggle {
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.dropdown-menu li{
    padding: 5px;
}
.dropdown-menu li:hover{
    background-color: #cecece;
}
.dropdown-menu a{
    text-decoration: none;
    color: #000;
    padding-left: 10px;
}
.card-header-top-box {
    /* opacity: 0; */
    /* visibility: hidden; */
    position: absolute;
    width: 300px;
    box-shadow: 0 0 10px #000000;
    transform: translate(0px, 20px);
    transition: opacity 0.5s ease-in-out 0s;
    z-index: 99999;
    right: -1px;
    opacity: 0;
    visibility: hidden;
    top: 50px;
}
.cart-empty{
    padding: 10px;
}
.card-header-top-box::before{
    border-style: solid;
    border-color: transparent transparent rgb(0, 0, 0);
    border-width: 8px;
    position: absolute;
    content: "";
    right: 38px;
    top: -17px;
}
.card-header-top-box.show{
    opacity: 1;
    visibility: visible;
    background-color: rgb(255, 255, 255);
}
@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}
.nav-item a.nav-link {
    color: rgb(22, 22, 22) !important;
    padding-left: 140px !important;
}
nav ul.dropdown-menu{
    margin-left: 80px;
}
.t {
    color: rgb(22, 22, 22) !important;
    padding-left: 140px !important;
}
.c{
    margin-left: 80px;
}
.c{
    margin-left: 80px;
}
.dd{
    margin-left: 80px;
}