* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial;
}

.header-content {
    padding: 10px;
}

.box-search {
    padding: 20px 0px;
}

.header .card-header {
    float: left;
    margin-top: 2px;
    position: relative;
    padding-bottom: 10px;
    background: transparent;
    border: none;
    margin-left: 50px;
}

.user-login {
    float: left;
    margin-top: 28px;
    margin-left: 60px;
    position: relative;
    padding-bottom: 10px;
}

a.nav-link.cart-item-count {
    color: #7e7e7e;
    font-size: 25px;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fafafa;
}

a.dropdown-toggle {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.dropdown-menu li {
    padding: 5px;
}

.dropdown-menu li:hover {
    /* Hover menu con */
    background-color: #cecece;
}

.navigation-menu .dropdown:hover>.dropdown-menu {
    /*Hover menu*/
    display: block;
}

.dropdown-menu a {
    text-decoration: none;
    color: #000;
    padding-left: 10px;
}

.card-header-top-box {
    position: absolute;
    width: 330px;
    box-shadow: 0 0 10px #000000;
    transform: translate(0px, 20px);
    transition: opacity 0.5s ease-in-out 0s;
    z-index: 9999;
    right: -1px;
    opacity: 0;
    visibility: hidden;
    top: 50px;
}

ul.dropdown-menu.show {
    z-index: 999;
}

.cart-empty {
    padding: 10px;
}

.card-header-top-box::before {
    border-style: solid;
    border-color: transparent transparent rgb(0, 0, 0);
    border-width: 8px;
    position: absolute;
    content: "";
    right: 38px;
    top: -17px;
}

.card-header-top-box.show {
    opacity: 1;
    visibility: visible;
    background-color: rgb(255, 255, 255);
}

@media(max-width:350px) {
    .title a {
        left: 25%;
    }
    .page_control {
        margin-left: 25%;
    }
    .social_footer {
        margin-left: 10%;
    }
    .pageXemAll {
        position: absolute;
        left: 25%;
    }
}

@media only screen and (max-width: 580px) and (min-width: 351px) {
    .title a {
        left: 28%;
    }
    .page_control {
        margin-left: 28%;
    }
    .social_footer {
        margin-left: 20%;
    }
    .pageXemAll {
        position: absolute;
        left: 28%;
    }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
    .title a {
        left: 40%;
    }
    .page_control {
        margin-left: 40%;
    }
    .social_footer {
        margin-left: 30%;
    }
    .pageXemAll {
        position: absolute;
        left: 40%;
    }
}

@media (max-width: 800px) {
    .user-login {
        position: absolute;
        right: 140px;
    }
    .header .card-header {
        float: right;
    }
}

@media(min-width:800px) {
    /* Thêm css sticky */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky+.all {
        padding-top: 150px;
    }
    .title a {
        left: 44%;
    }
    .page_control {
        margin-left: 44%;
    }
    .social_footer {
        margin-left: 40%;
    }
    .pageXemAll {
        position: absolute;
        left: 44%;
    }
}

@media (min-width: 992px) {
    .dropdown-menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }
    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }
    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}


/*Định dạng hambuger*/

@media (min-width:967px) {
    .hamburger.hamburger--emphatic {
        display: none;
    }
}

.nav-item a.nav-link {
    color: rgb(22, 22, 22) !important;
    padding-left: 140px !important;
}

nav ul.dropdown-menu {
    margin-left: 80px;
}

.san-pham-noi-bat,
.hang-khuyen-mai,
.sap-ve-hang {
    width: 100%;
    height: 33%;
    margin-top: 50px;
    left: 15px;
    right: 15px;
}

.gach-ngang {
    border-top: 1px solid #d0d0d0;
    position: relative;
    margin-bottom: 10px;
}

.title a {
    position: absolute;
    top: -25px;
    display: block;
    background-image: linear-gradient(to right top, #fae939, #ffca1c, #ffab0b, #ff8a12, #fc6721);
    padding: 10px 10px;
    border-radius: 50px;
    color: #fafafa;
    text-transform: uppercase;
    text-decoration: none;
}

a.xem-tat-ca {
    color: #000;
    text-decoration: none;
    float: right;
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
    ;
}

.ten-title {
    font-size: 20px;
    margin-left: 10px;
}

.card-body {
    padding: 10px;
}

.card {
    max-width: 300px;
    margin-top: 30px;
    margin-left: 10px;
    box-shadow: 0px 2px 5px grey;
}

.card .card-header {
    padding: 0px;
    background: transparent;
}

.card img:hover {
    cursor: pointer;
}

.card-header .pop-up {
    width: 100%;
    height: 100;
    position: absolute;
    bottom: 24%;
    visibility: hidden;
    opacity: 0;
    background-color: none;
}

.card-header .pop-up.xemTatCa {
    bottom: 28%;
}

.pop-up a {
    position: absolute;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;
}

.pop-up.show-pop-up {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
    background: none repeat scroll 0 0 rgba(110, 109, 103, 0.8);
    transition: 0.8;
    transform: translateY(0px);
}

.nutDatHang {
    float: right;
    margin: auto;
}

.page-home {
    width: 100%;
    height: 100%;
}

.page_control {
    display: flex;
    margin-top: 20px;
}

.page_control li {
    padding-left: 20px;
    list-style: none;
}

.page_control li a {
    text-decoration: none;
    font-size: 20px;
}

div.pagination.pagination-centered.pagination-large {
    margin-top: 20px;
}


/*Footer*/

.footer {
    background-color: #263238;
    padding-top: 50px;
    color: #fafafa;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.footer-title {
    padding: 5px;
    display: block;
    border-bottom: 1px solid #fff;
}

.footer p {
    margin-top: 25px;
}

ul.footer_HTKH {
    list-style-type: none;
    padding: 10px;
}

.footer li {
    padding-top: 10px;
}

ul.footer_HTKH li a {
    color: #fafafa;
    text-decoration: none;
    padding-top: 20px;
}

.social_footer {
    display: block;
    list-style: none;
    left: 47%;
    margin-top: 20px;
    color: #fafafa;
}

.social_footer li {
    padding: 30px;
    display: inline;
}

.fab.fa-instagram:hover,
.fa-twitter:hover,
.fa-facebook-f:hover {
    color: rgb(105, 105, 248);
}

.social_footer li a {
    font-size: 30px;
}

.fab.fa-instagram,
.fa-twitter,
.fa-facebook-f {
    color: #fafafa;
}

.logo {
    width: 100px;
    height: 50px;
    padding-left: 10px;
}

body.blockScroll {
    position: fixed;
}


/*nhấp nháy*/

@-webkit-keyframes glowing {
    0% {
        color: #d38022;
    }
    50% {
        color: #c91c6d;
    }
    100% {
        color: #81bb24;
    }
}

@-moz-keyframes glowing {
    0% {
        color: #d38022;
    }
    50% {
        color: #c91c6d;
    }
    100% {
        color: #81bb24;
    }
}

@-o-keyframes glowing {
    0% {
        color: #d38022;
    }
    50% {
        color: #c91c6d;
    }
    100% {
        color: #81bb24;
    }
}

@keyframes glowing {
    0% {
        color: #d38022;
    }
    50% {
        color: #c91c6d;
    }
    100% {
        color: #81bb24;
    }
}

.chatIcon {
    position: fixed;
    right: 30px;
    bottom: 0;
    font-size: 80px;
    color: rgb(230, 18, 18);
    cursor: pointer;
    z-index: 99999999999999999999999999;
    cursor: pointer;
    animation-duration: 0.01s;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.chatBox {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 400px;
    height: 75vh;
    background-color: #74e042;
    z-index: 9999999;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
}

.chatBox.active {
    transform: scaleY(1);
}

.chat-boxx {
    position: fixed;
    width: 300px;
    box-shadow: 0 0 10px #000000;
    transform: translate(0px, 20px);
    transition: opacity 0.5s ease-in-out 0s;
    z-index: 999900;
    right: -1px;
    opacity: 0;
    visibility: hidden;
    right: 30px;
    bottom: 30px;
    margin-right: 50px;
    border-width: 20px;
    border-color: rgb(230, 18, 18);
}

.chat-empty {
    padding: 10px;
}

.chat-boxx::before {
    border-style: solid;
    border-color: transparent transparent rgb(245, 7, 7);
    border-width: 10px;
    position: absolute;
    content: "";
    border: 2px;
    right: 38px;
    top: -17px;
}

.chat-boxx.show {
    opacity: 1;
    visibility: visible;
    background-color: rgb(255, 255, 255);
}

.chat {
    margin-top: 2px;
    position: relative;
    padding-bottom: 10px;
    background: transparent;
    border: none;
    margin-left: 50px;
}

.hidden {
    display: none i !important;
}

#hinhanh:hover {
    transform: scale(0.9);
    color: rgb(19, 247, 11);
    -ms-zoom-animation: initial;
}

#hinhanh:hover .overlay {
    opacity: 1;
}

#hinhanh a {
    text-decoration: none;
    font-weight: bold;
    font-size: 103px;
}


/* backToTop */

#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 150px;
    right: 20px;
    display: none;
}

#back-to-top a {
    border-radius: 50%;
    font-size: 20px;
}

.page_control .active a {
    color: #000;
}

.sticky-top{
    z-index: 998 !important;
}