/* Menu */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial;
}

.header-content {
    padding: 10px;
}

.box-search {
    padding: 20px 0px;
}

.header .card-header {
    float: left;
    margin-top: 2px;
    position: relative;
    padding-bottom: 10px;
    background: transparent;
    border: none;
    margin-left: 50px;
}

.user-login {
    float: left;
    margin-top: 28px;
    margin-left: 60px;
    position: relative;
    padding-bottom: 10px;
}

a.nav-link.cart-item-count {
    color: #7e7e7e;
    font-size: 25px;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fafafa;
}

a.dropdown-toggle {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.dropdown-menu li {
    padding: 5px;
}

.dropdown-menu li:hover {
    /* Hover menu con */
    background-color: #cecece;
}

.navigation-menu .dropdown:hover>.dropdown-menu {
    /*Hover menu*/
    display: block;
}

.dropdown-menu a {
    text-decoration: none;
    color: #000;
    padding-left: 10px;
}

.card-header-top-box {
    position: absolute;
    width: 330px;
    box-shadow: 0 0 10px #000000;
    transform: translate(0px, 20px);
    transition: opacity 0.5s ease-in-out 0s;
    z-index: 9999;
    right: -1px;
    opacity: 0;
    visibility: hidden;
    top: 50px;
}

ul.dropdown-menu.show {
    z-index: 999;
}

.cart-empty {
    padding: 10px;
}

.card-header-top-box::before {
    border-style: solid;
    border-color: transparent transparent rgb(0, 0, 0);
    border-width: 8px;
    position: absolute;
    content: "";
    right: 38px;
    top: -17px;
}

.card-header-top-box.show {
    opacity: 1;
    visibility: visible;
    background-color: rgb(255, 255, 255);
}

@media(max-width:350px) {
    .social_footer {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 580px) and (min-width: 351px) {
    .social_footer {
        margin-left: 20%;
    }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
    .social_footer {
        margin-left: 30%;
    }
}

@media (max-width: 800px) {
    .user-login {
        position: absolute;
        right: 140px;
    }
    .header .card-header {
        float: right;
    }
}

@media(min-width:800px) {
    /* Thêm css sticky */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky+.path-product {
        padding-top: 175px;
    }
    .social_footer {
        margin-left: 40%;
    }
}

@media (min-width: 992px) {
    .dropdown-menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }
    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }
    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}


/* Css gio hang */

.card {
    height: 100%;
}

.card-footer {
    background-color: #fff;
}

.cart-item-count {
    position: relative;
}

.cesta-feira__num-items {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D80000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2px;
    right: -1px;
    font-size: 12px;
    font-weight: bold;
}

.table th,
.table td {
    border-top: none !important;
}

.titleSP{
    color: #000;
}
.titleSP:hover{
    text-decoration: none;
    color:#D80000;
}
.imgSP img:hover{
    transform: scale(1.1);
    transition-duration: 0.5s; 
}
.dsSP{
    display: block;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}
/*Định dạng hambuger*/

@media (min-width:967px) {
    .hamburger.hamburger--emphatic {
        display: none;
    }
}

.nav-item a.nav-link {
    color: rgb(22, 22, 22) !important;
    padding-left: 140px !important;
}

nav ul.dropdown-menu {
    margin-left: 80px;
}

.sticky-top {
    z-index: 998 !important;
}


/*-------------Duc's CSS-------------*/

#col-1st {
    margin-left: 10px 10px;
}

#col-2nd {
    margin-top: 20px;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}

#row2-2 {
    margin-top: 10px;
}

.footer {
    background-color: #263238;
    padding-top: 50px;
    color: #fafafa;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.footer-title {
    padding: 5px;
    display: block;
    border-bottom: 1px solid #fff;
}

.footer p {
    margin-top: 25px;
}

ul.footer_HTKH {
    list-style-type: none;
    padding: 10px;
}

.footer li {
    padding-top: 10px;
}

ul.footer_HTKH li a {
    color: #fafafa;
    text-decoration: none;
    padding-top: 20px;
}

.social_footer {
    display: block;
    list-style: none;
    left: 47%;
    margin-top: 20px;
    color: #fafafa;
}

.social_footer li {
    padding: 30px;
    display: inline;
}

.fab.fa-instagram:hover,
.fa-twitter:hover,
.fa-facebook-f:hover {
    color: rgb(105, 105, 248);
}

.social_footer li a {
    font-size: 30px;
}

.fab.fa-instagram,
.fa-twitter,
.fa-facebook-f {
    color: #fafafa;
}

.logo {
    width: 100px;
    height: 50px;
    padding-left: 10px;
}


/* backToTop */

#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 150px;
    right: 20px;
    display: none;
}

#back-to-top a {
    border-radius: 50%;
    font-size: 20px;
}

.page_control .active a {
    color: #000;
}

.btnThanhToan {
    background-color: #A8CF45;
    color: #fff;
}

.btnThanhToan:hover {
    background-color: #608010;
    color: #fff;
}


/*----------------View detail---------------------*/

.detail-slide-product-similar #row-text #text-left {
    float: left;
}

.detail-slide-product-similar #row-text #text-right {
    float: right;
}

.detail-slide-product-similar #row-text a {
    text-decoration: none;
}

.more {
    display: none;
    text-decoration: none;
}

.readmore {
    display: block;
    border: none;
}

.product-detail #btnxemchitiet {
    width: 20%;
    border: none;
    background-color: inherit;
    border-radius: 10px;
    cursor: pointer;
}

.product-detail #btnxemchitiet:hover {
    background-color: rgb(101, 240, 108);
}

.product-detail #btnxemchitiet:focus {
    border: none;
    outline: none;
}

.product-detail #btnxemcauhinh {
    border: none;
    background-color: #4db9e4;
    border-radius: 10px;
    cursor: pointer;
}

.product-detail #btnxemcauhinh:hover {
    background-color: rgb(106, 216, 152);
}

.product-detail #btnxemcauhinh:focus {
    border: none;
    outline: none;
}

.product-detail #row-detail-3 {
    justify-content: center;
}

#col-slide {
    margin: auto;
}

#card-slide {
    width: 210px;
    margin: 0px 40px 10px 40px;
    border: none;
}

#row-slide {
    justify-content: center;
}

.footer #card1 {
    background-color: aquamarine;
}

.footer #footer-row2 {
    justify-content: center;
}

.footer #footer-row2 a {
    text-decoration: none;
    color: deeppink;
}

.footer #footer-row3 {
    justify-content: center;
}

.footer #card2 {
    background-color: blue;
}

.product-detail .list-detail {
    list-style-type: none;
}

.product-detail .list-detail .detail-left {
    width: 40%;
    display: table-cell;
    font-weight: bold;
}

.product-detail .list-detail .detail-right {
    width: auto;
    display: table-cell;
}

.product-detail .list-modal-detail {
    list-style-type: none;
}

.product-detail .list-modal-detail .detail-left {
    width: 55%;
    display: table-cell;
    padding-top: 10px;
    font-weight: bold;
}

.product-detail .list-modal-detail .detail-right {
    width: 45%;
    display: table-cell;
    padding-top: 10px;
}

.product-detail table {
    width: 100%;
}

.product-detail #cauhinh1 p {
    background-color: #a1c959;
    border-radius: 5px;
}

.product-detail #cauhinh1 label {
    color: rgb(221, 75, 64);
    font-weight: bold;
}


/*-------------------CSS Payment----------------------*/

.payment #row-pay-2 .vertical-line {
    border-left: 3px solid black;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.payment #row-pay-2 .first input {
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background-color: #e5f8b9;
}


/* update */

.comboGift:hover {
    transform: scale(1.1);
    color: rgb(223, 12, 12);
    -ms-zoom-animation: initial;
    background-color: #74e2a6;
    font-weight: bold;
}

.title a {
    position: absolute;
    top: -25px;
    display: block;
    background-image: linear-gradient(to right top, #fae939, #ffca1c, #ffab0b, #ff8a12, #fc6721);
    padding: 10px 10px;
    border-radius: 50px;
    color: #fafafa;
    text-transform: uppercase;
    text-decoration: none;
}

@media(min-width:800px) {
    /* Thêm css sticky */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky+.all {
        padding-top: 150px;
    }
    .title a {
        left: 44%;
    }
}


/*------duong ngang sptt----*/

.btn-sptt #row-text {
    justify-content: center;
}

.btn-sptt #row-text button {
    border-radius: 50px;
    width: 25%;
    height: 50px;
    border: none;
    background-image: linear-gradient(to right top, #fae939, #ffca1c, #ffab0b, #ff8a12, #fc6721);
    position: absolute;
    margin-top: 25px;
}

.btn-sptt #row-text button a {
    text-transform: uppercase;
    text-decoration: none;
    color: #f1f1f1;
    display: block;
}

.btn-sptt #row-text #line {
    color: black;
}


/*--------------------*/

.sanphamtuongtu {
    width: 100%;
    height: 33%;
    margin-top: 50px;
    left: 15px;
    right: 15px;
}

.gach-ngang {
    border-top: 1px solid #d0d0d0;
    position: relative;
    margin-bottom: 10px;
}

.comboImage:hover {
    transform: scale(1.1);
    color: rgb(223, 12, 12);
    -ms-zoom-animation: initial;
}

.chatIcon {
    position: fixed;
    right: 30px;
    bottom: 0;
    font-size: 80px;
    color: rgb(230, 18, 18);
    cursor: pointer;
    z-index: 99999999999999999999999999;
    cursor: pointer;
    animation-duration: 0.01s;
}

.chatBox {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 400px;
    height: 75vh;
    background-color: #74e042;
    z-index: 9999999;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
}

.chatBox.active {
    transform: scaleY(1);
}

.chat-boxx {
    position: fixed;
    width: 260px;
    box-shadow: 0 0 10px #000000;
    transform: translate(0px, 20px);
    transition: opacity 0.5s ease-in-out 0s;
    z-index: 999900;
    right: -1px;
    opacity: 0;
    visibility: hidden;
    right: 42px;
    bottom: 45px;
    margin-right: 50px;
    border-width: 20px;
    border-color: rgb(230, 18, 18);
}

.chat-empty {
    padding: 8px;
    font-size: 15px;
}

.chat-boxx::before {
    border-style: solid;
    border-color: transparent transparent rgb(245, 7, 7);
    border-width: 10px;
    position: absolute;
    content: "";
    border: 2px;
    right: 38px;
    top: -17px;
}

.chat-boxx.show {
    opacity: 1;
    visibility: visible;
    background-color: rgb(255, 255, 255);
}

.chat {
    margin-top: 2px;
    position: relative;
    padding-bottom: 10px;
    background: transparent;
    border: none;
    margin-left: 50px;
}

.move img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.move::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    animation: reveal 1s reverse forwards;
    animation-delay: 0.5s;
    transform-origin: right;
    animation-duration: 2s;
}

@keyframes reveal {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleZ(0.5);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes reveal {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleZ(0.5);
    }
    100% {
        transform: scaleX(1);
    }
}

.move h5 {
    position: absolute;
    right: -100px;
    bottom: 50px;
    margin: 0;
    padding: 10px;
    background: rgb(212, 211, 140);
    z-index: 2;
    box-shadow: 0 10px 15px rgba(93, 219, 89, 0.2);
    transform: scaleX(0);
    transform-origin: left;
    animation: reveal 1s ease-in-out forwards;
    animation-delay: 1s;
}

.move h5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    animation: reveal 1s reverse forwards;
    animation-delay: 1s;
    transform-origin: right;
}